@page "/aboutme"

<div class="row">
    <div class="row text-center">
        <h1>@Title</h1>
    </div>
</div>

<div class="row">
    <div class="row text-center">
        <h2>Hard Skills:</h2>
    </div>
</div>

<ListHardSkills/>

@code{
    private string Title { get; set; } = "ОБО МНЕ";
}