@page "/adminpanel"

<PageTitle>Admin</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Random</h1>
    </div>
</div>

<div class="row">
    <div class="col-6 text-start">
        @* Просто тест методов событий, bind =  @onchange="(()=> IsHideImage = !IsHideImage)" *@
        <p><input type="checkbox" @bind="IsHideImage"/>Капибара?</p>

        @if (!IsHideImage)
        {
            <div>
                <h3>
                    Капибара!
                </h3>
            </div>
        }

        <button class="btn btn-primary p-3" @onclick="RandomImage">Click me</button>
    </div>
    <div class="col-6 text-end">
        <div style="font-size: 50px">Current count: @currentCount</div>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        Max Count
        <input type="number" class="form-control-lg " @bind="rndMax" />
        @* bind => bind-value="" bind-value:event="" *@
    </div>
</div>


@code {
    bool IsHideImage = true;

    private int currentCount = 0;

    private int rndMax = 1;

    //Тут будет рандомная картинка :)
    private void RandomImage()
    {
        var rnd = new Random();

        currentCount = rnd.Next(1,rndMax);
    }
}