@page "/resume"
@inject Abstract.IHaveSkills repo

<div class="row">
    <div class="row text-center">
        <h1>@Title</h1>
    </div>
</div>

<div class="row">
    <div class="row text-center">
        <h2>Hard Skills:</h2>
    </div>
</div>

@* чек параметры *@
<ListHardSkills MySkills="mySkills" />

<Skill HSkill="oneSkillToShow" isTable="false" isRandomSkill="true" SwitchSkill="ShowRndSkill"/>

@code{
    private string Title { get; set; } = "My Resume";

    List<HardSkills> mySkills;

    Random rnd;
    HardSkills oneSkillToShow;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);

        //скоро будут грузиться с PostgreSQL
        mySkills = repo.GetSkills();

        rnd = new Random(DateTime.Now.Microsecond);
        oneSkillToShow = mySkills[rnd.Next(0, mySkills.Count)];
    }

    void ShowRndSkill()
    {
        oneSkillToShow = SwithcSkill();
    }

    HardSkills SwithcSkill()
    {
        HardSkills tempSkill;

        if (mySkills.Count >= 2)
        {
            int i = rnd.Next(0, mySkills.Count);
            tempSkill = mySkills[i];
        }
        else if (mySkills.Count == 1)
        {
            tempSkill = mySkills[0];
        }
        else
        {
            return new HardSkills() {Since = DateTime.Now };
        }

        return tempSkill;
    }
}