<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Skill</th>
                <th>Year</th>
                <th>My Level</th>
            </tr>
        </thead>
        <tbody>
            @if (MySkills == null)
            {
                @LoadContent
            }
            else if(MySkills.Count == 0)
            {
                @EmptyContent
            }else
            {
                @foreach (var item in MySkills)
                {
                    <Skill HSkill="item" isTable="true" />
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<HardSkills> MySkills { get; set; }

    [Parameter]
    public RenderFragment LoadContent { get; set; }

    [Parameter]
    public RenderFragment EmptyContent { get; set; }
}
